<h1>Editing slip</h1>

<%= render "form", admins_slip: @admins_slip %>

<br>

<div>
  <%= link_to "Show this slip", [:admins, @admins_slip] %> |
  <%= link_to "Back to slips", admins_slips_path %>
</div>
